

header{
    border: 2px solid #a846ff;
}
nav{
    border: 2px solid #a846ff;
}
nav ul li {
    display: inline-block;
}
section{
    overflow: hidden;

}
section div{
    width: 80%;
    float: left;
    border: 2px solid #a846ff;
    box-sizing: border-box;


}
section div article{
    border-top: 2px solid #a846ff;

}

section aside{
    width: 20%;
    float: left;
    border: 2px solid #a846ff;
    box-sizing: border-box;

}
footer{
    border: 2px solid #a846ff;
}